[submodule ".registry"]
	path = .registry
	url = https://github.com/nrouterai/nrouterai.r-universe.dev
	branch = HEAD
[submodule "nrouter"]
	path = nrouter
	url = https://github.com/nRouterAI/nrouter-sdk
	subdir = sdks/r
